body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: black;
    font-size: 16px;
    opacity: 50%;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

a:hover {
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 1em 0;
    margin-left: 256px;
    margin-right: 256px;
    padding: 0;
}

.active {
    opacity: 100%;
}

/* Animations */

/* Header */

.header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    padding-top: 32px;
}

.logo {
    opacity: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.sticky-icon {
    display: none;
    top: 50%;
    opacity: 0;
}

.sticky .sticky-icon {
    display: block;
    opacity: 1;
}


button {
    background-color: #000000;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 50%;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

ul {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
    margin-bottom: 96px;
    margin-left: 648px;
    margin-right: 648px;
}

.hero-header {
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 96px;
}

.hero-subheader {
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
}

.hero-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    opacity: 75%;
    margin-top: 32px;
}

/* Skills */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 75%;
    margin-bottom: 36px;
    gap: 4px;
}

/* Projects */

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 42px;
    gap: 24px;
}

.projects-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 42px;
    margin-bottom: 42px;
}

.copyright {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    opacity: 75%;
}