html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.line {
    margin-top: 24px;
    margin-bottom: 24px;
    display: block;
    border: none;
    height: 1px;
    background: #ccc;
}

.dark-mode .line {
    background: #444;
}

u {
    text-decoration-color: #ccc;
}

:root {
    color-scheme: light;
}

:root.dark-mode {
    color-scheme: dark;
}

::-moz-selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

::selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

.mobile { 
    display: none;
}

.tablet {
    display: none;
}

.desktop { 
    display: block;
}

.footer-text .desktop,
.update .desktop {
    display: inline;
}

.revealed {
    filter: saturate(100%) !important;
}

.logo {
    filter: saturate(0%);
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.logo:hover {
    filter:saturate(100%);
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.logo2 {
    opacity: 45%;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.logo2:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.toggle {
    cursor: pointer;
}

.section-header {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.6);
}

.section-subheader {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 12px;
}

/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.tooltiptext {
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

/* Compatibility */

/* Auto Dark Mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    hr {
        border-top: 1px solid #444;
    }

    u {
        text-decoration-color: #666;
    }

    .section-header,
    .ualberta,
    .project-header {
        color: #cccccc;
    }

    .section-subheader,
    .degree,
    .header-subtext,
    .header-bottomtext,
    .project-subheader {
        color: #aaaaaa;
    }

    .year,
    .view-button,
    .project-year {
        color: #999999;
    }

    .header-text {
        color: #cccccc;
    }

    .tooltip .tooltiptext {
        background-color: rgba(33, 33, 33, 0.9);
        color: #cccccc;
        border-color: #666;
    }

    .projects img,
    .responsive-iframe {
        border-color: #444;
    }

    .invert {
        filter: brightness(0) invert(1);
        transition: filter 0.2s ease-in-out;
        -moz-transition: filter 0.2s ease-in-out;
        -webkit-transition: filter 0.2s ease-in-out;
    }

    .invert:hover {
        filter: brightness(1) invert(0);
        transition: filter 0.2s ease-in-out;
        -moz-transition: filter 0.2s ease-in-out;
        -webkit-transition: filter 0.2s ease-in-out;
    }

    .contrast {
        filter: saturate(0%) contrast(150%);
        transition: filter 0.2s ease-in-out;
        -moz-transition: filter 0.2s ease-in-out;
        -webkit-transition: filter 0.2s ease-in-out;
    }

    .contrast:hover {
        filter: saturate(100%) contrast(100%);
        transition: filter 0.2s ease-in-out;
        -moz-transition: filter 0.2s ease-in-out;
        -webkit-transition: filter 0.2s ease-in-out;
    }

    .club {
        color: rgba(255, 255, 255, 0.5);
    }

    .project:hover {
        background: #191919;
        cursor: pointer;
    }
}

/* Dark Mode */

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode hr {
    border-top: 1px solid #444;
}

body.dark-mode u {
    text-decoration-color: #666;
}

body.dark-mode .section-header,
body.dark-mode .ualberta,
body.dark-mode .project-header,
body.dark-mode .header-text {
    color: #ccc;
}

body.dark-mode .section-subheader,
body.dark-mode .degree,
body.dark-mode .header-subtext,
body.dark-mode .header-bottomtext,
body.dark-mode ul a,
body.dark-mode .project-subheader {
    color: #aaa;
}

body.dark-mode .year,
body.dark-mode .view-button,
body.dark-mode .project-year {
    color: #999;
}

body.dark-mode .tooltip .tooltiptext {
    background-color: rgba(33, 33, 33, 0.9);
    color: #ccc;
    border-color: #666;
}

body.dark-mode .projects img,
body.dark-mode .responsive-iframe {
    border-color: #444;
}

body.dark-mode .tip {
    color: rgba(255, 255, 255, 0.5);
}

body.dark-mode .club {
    color: rgba(255, 255, 255, 0.5);
}

body.dark-mode .project:hover {
    background: #191919;
    cursor: pointer;
}

/* Light Mode */

body:not(.dark-mode) {
    background-color: #ffffff;
    color: #000000;
}

body:not(.dark-mode) hr {
    border: 0;
    border-top: 1px solid #ccc;
}

body:not(.dark-mode) u {
    text-decoration-color: #ccc;
}

body:not(.dark-mode) .tooltip .tooltiptext {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.4);
    border-color: #ccc;
}

body:not(.dark-mode) .section-header {
    color: rgba(0, 0, 0, 0.6);
}

body:not(.dark-mode) .section-subheader {
    color: rgba(0, 0, 0, 0.5);
}

body:not(.dark-mode) .logo,
body:not(.dark-mode) .logo2 {
  filter: saturate(0%);
}

body:not(.dark-mode) .logo:hover {
  filter: saturate(100%);
}

@media (prefers-reduced-motion: reduce) {
    .fade-in1,
    .fade-in2,
    .fade-in3,
    .fade-in4,
    .fade-in5,
    .fade-in6 {
      animation: none !important;
    }
}

/* Tablet */

@media (max-width: 1024px) {

    .container {
        max-width: 100%;
        padding: 0 24px;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: none;
    }

    .desktop {
        display: block;
    }

    .footer-text .desktop,
    .update .desktop {
        display: inline;
    }
}

/* Mobile */

@media (max-width: 640px) {

    ul a i {
        font-size: 24px;
    }

    ul {
        margin-top: 56px !important;
    }

    .mobile { 
        display: block;
    }

    .tablet {
        display: none;
    }

    .desktop { 
        display: none;
    }

    .footer-text .desktop,
    .update .desktop {
        display: none;
    }

    .tooltip .tooltiptext {
        display: none;
    }

    .tooltip:hover .tooltiptext {
        display: none;
    }

    .header {
        margin-top: 32px !important;
    }

    .current {
        top: 168px !important;
    }

    .tip {
        margin-top: 69px;
    }

    .projects {
        flex-direction: column;
        width: 100%;
        gap: 24px;
    }

    .project {
        width: 100% !important;
    }

    .skills {
        flex-direction: column;
    }

    .footer {
        margin-bottom: 80px !important;
    }
}

.active {
    opacity: 100%;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 128px;
}

.left {
    display: flex;
}

.logo {
    opacity: 0.75;
}

.header-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.header-toptext {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
}

.role {
    font-family: "Newsreader","Signifier","Times",serif;
    font-style: italic;
    font-weight: 400;
    margin-left: 4px;
    margin-top: 4px;
}

.header-subtext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}

.header-bottomtext {
    margin-top: auto;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 32px;
    margin-left: auto;
}

ul a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

.current {
    position: absolute;
    top: 144px;
    margin-left: 16px;
    font-family: "Newsreader","Signifier","Times",serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.tip {
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    position: absolute;
    top: 272px;
    color: rgba(0, 0, 0, 0.4);
}

#reveal {
    cursor: pointer;
}

#reveal:hover, 
.tip u:hover {
    color: rgba(0, 0, 0, 0.2);
    text-decoration-color: rgba(0, 0, 0, 0.2);
}

body.dark-mode #reveal:hover,
body.dark-mode .tip u:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration-color: rgba(255, 255, 255, 0.9);
}

/* Education */

.education {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.ualberta {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.degree {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 2px;
}

.year {
    margin-top: 2px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
}

/* Club */

.club {
    display: flex;
    gap: 12px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 18px;
    margin-top: 8px;
}

.club img {
    margin-top: 4px;
}

/* Projects */

.projects-header {
    display: flex;
    justify-content: flex-end;
}

.view-button {
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    
}

.projects img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    border-radius: 3%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    transition: transform 0.3s ease;
}

.projects img:hover {
    transform: scale(1.02);
}

.right {
    margin-left: auto;
}

.project {
    width: 48%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 8px;
    padding: 12px;
}

.project-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.project-header {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.6);
}

.project-year {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.project-subheader {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 4px;
    line-height: 20px;
}

/* Skills */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.frameworks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* Stuff */

.stuff {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 3%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 42px;
    margin-bottom: 128px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0.5;
}

.footer-text,
.copyright,
.update {
    flex: 1;
    font-size: 12px;
}

.footer-text {
    text-align: left;
    font-family: "Inter", sans-serif;
}

.copyright {
    text-align: center;
    font-family: "Inter", sans-serif;
}

.update {
    text-align: right;
    font-family: "Inter", sans-serif;
}

.update-date {
    margin-left: 6px;
}