body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

.container {
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

hr {
    width: 100%;
    max-width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 1em 0;
    padding: 0;
}

u {
    text-decoration-color: #ccc;
}

::-moz-selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

::selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

.logo {
    filter: saturate(0%);
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.logo:hover {
    filter:saturate(100%);
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.section-header {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

.section-subheader {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    margin-top: 2px;
}

/* Animations */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in1 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.fade-in2 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

.fade-in3 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.fade-in4 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2.5s;
}

.fade-in5 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

.fade-in6 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3.5s;
}

/* Compatibility */

@media (prefers-reduced-motion: reduce) {
    .fade-in1,
    .fade-in2,
    .fade-in3,
    .fade-in4,
    .fade-in5,
    .fade-in6 {
      animation: none !important;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 100%;
        padding: 0 24px;
    }
}

@media (max-width: 600px) {
    ul {
        margin-right: auto;
    }

    .section-header {
        margin-left: 12px;
    }

    .header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 12px;
        margin-right: 12px;
    }

    .projects {
        flex-direction: column;
        margin-left: 12px;
        margin-right: 12px;
        gap: 24px;
    }

    .project {
        width: 100%;
    }

    .skills {
        flex-direction: column;
    }
}

.active {
    opacity: 100%;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    margin-top: 128px;
    margin-bottom: 48px;
}

.left {
    display: flex;
}

.logo {
    opacity: 0.75;
}

.header-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.header-subtext {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
}

.header-bottomtext {
    margin-top: auto;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
}

ul {
    margin-left: auto;
    opacity: 50%;
}

/* Projects */

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.bottom {
    margin-bottom: 64px;
}

.projects img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    border-radius: 3%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}

.projects img:hover {
    transform: scale(1.02);
}

.right {
    margin-left: auto;
}

.project {
    width: 48%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.project-header {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 4px;
}

.project-subheader {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.4);
}

/* Skills */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.frameworks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* Stuff */

.stuff {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 42px;
    margin-bottom: 128px;
}