body {
    margin: 0;
    padding: 0;
    margin-left: 488px;
    margin-right: 488px;
}

a {
    text-decoration: black;
    font-size: 16px;
    opacity: 75%;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 1em 0;
    padding: 0;
}

u {
    text-decoration-color: #ccc;
}

::-moz-selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

::selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

.logo {
    filter: saturate(0%);
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.logo:hover {
    filter:saturate(100%);
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.section-header {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.75);
}

.section-subheader {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

/* Animations */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in1 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.fade-in2 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

.fade-in3 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.fade-in4 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2.5s;
}

.fade-in5 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

.fade-in6 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3.5s;
}

/* Compatibility */

@media (max-width: 600px) {
    body {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    ul {
        margin-right: auto;
    }

    hr {
        margin-left: 12px;
        margin-right: 12px;
    }

    .section-header {
        margin-left: 12px;
    }

    .header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 12px;
        margin-right: 12px;
    }

    .projects {
        flex-direction: column;
        margin-left: 12px;
        margin-right: 12px;
    }

    .project {
        width: 100%;
    }
}

.active {
    opacity: 100%;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    margin-top: 128px;
    margin-bottom: 48px;
}

.left {
    display: flex;
}

.header-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.75);
}

.header-subtext {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.header-bottomtext {
    margin-top: auto;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

ul {
    margin-left: auto;
}

/* Projects */

.projects {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.projects img {
    border-radius: 3%;
}

.right {
    margin-left: auto;
}

/* Skills */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Stuff */

.stuff {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 42px;
    margin-bottom: 128px;
}