html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: rgba(180, 180, 180, 0.9);
}

body.dark-mode {
    background-color: rgba(128, 128, 128, 0.8);
}

/*
body:not(.no-gradient):not(.dark-mode) {
    background: radial-gradient(#ffffff, #eeeeee);
}
*/

body:not(.no-gradient).dark-mode {
    background: linear-gradient(to right, #000000, #121212, #000000);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
    box-sizing: border-box;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

hr {
    width: 100%;
    max-width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 1em 0;
    padding: 0;
}

.line {
    margin-top: 24px;
    margin-bottom: 24px;
    display: block;
    border: none;
    height: 1px;
    background: #ccc;
    background: radial-gradient(circle, #ccc 0%, #fff 100%);
}

.dark-mode .line {
    background: #444;
    background: radial-gradient(circle, #666 0%, #0a0a0a 100%);
}

body.no-gradient:not(.dark-mode) .line {
    background: #ccc;
}

body.no-gradient.dark-mode .line {
    background: #444;
}

u {
    text-decoration-color: #ccc;
}

:root {
    color-scheme: light;
}

:root.dark-mode {
    color-scheme: dark;
}

::-moz-selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

::selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

.mobile { 
    display: none;
}

.tablet {
    display: none;
}

.desktop { 
    display: block;
}

.shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.gradient {
    background: -webkit-linear-gradient(#eee, #525252);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gradient {
    cursor: pointer;
}

.nogradient {
    background: none !important;
    -webkit-background-clip: initial !important;
    -webkit-text-fill-color: initial !important;
}

body.no-gradient .gradient {
    background: none !important;
    -webkit-background-clip: initial !important;
    -webkit-text-fill-color: initial !important;
}

body.no-shadows .shadow,
body.no-shadows .fade-in1,
body.no-shadows .fade-in2,
body.no-shadows .fade-in3,
body.no-shadows .fade-in4,
body.no-shadows .fade-in5,
body.no-shadows .fade-in6 {
    box-shadow: none !important;
    text-shadow: none !important;
}

.revealed {
    filter: saturate(100%) !important;
}

.logo {
    filter: saturate(0%) drop-shadow(0 0 12px rgba(255, 255, 255, 0.1));
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.logo:hover {
    filter:saturate(100%) drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.logo2 {
    opacity: 45%;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.logo2:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.toggle {
    cursor: pointer;
}

.section-header {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

.section-subheader {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    margin-top: 2px;
}

/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.tooltiptext {
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

/* Animations */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in1 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.fade-in2 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

.fade-in3 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.fade-in4 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2.5s;
}

.fade-in5 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

.fade-in6 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3.5s;
}

/* Compatibility */

/* Auto Dark Mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    hr {
        border-top: 1px solid #444;
    }

    u {
        text-decoration-color: #666;
    }

    .container {
        text-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
    }

    .shadow {
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
    }

    .tip {
        color: rgba(255, 255, 255, 0.7);
    }

    .section-header,
    .ualberta,
    .project-header {
        color: #cccccc;
    }

    .section-subheader,
    .degree,
    .header-subtext,
    .header-bottomtext,
    .project-subheader {
        color: #aaaaaa;
    }

    .year,
    .project-year {
        color: #999999;
    }

    .header-text {
        color: #cccccc;
    }

    .tooltip .tooltiptext {
        background-color: rgba(33, 33, 33, 0.9);
        color: #cccccc;
        border-color: #666;
    }

    .projects img,
    .responsive-iframe {
        border-color: #444;
    }

    .invert {
        filter: brightness(0) invert(1);
        transition: filter 0.2s ease-in-out;
        -moz-transition: filter 0.2s ease-in-out;
        -webkit-transition: filter 0.2s ease-in-out;
    }

    .invert:hover {
        filter: brightness(1) invert(0);
        transition: filter 0.2s ease-in-out;
        -moz-transition: filter 0.2s ease-in-out;
        -webkit-transition: filter 0.2s ease-in-out;
    }

    .contrast {
        filter: saturate(0%) contrast(150%);
        transition: filter 0.2s ease-in-out;
        -moz-transition: filter 0.2s ease-in-out;
        -webkit-transition: filter 0.2s ease-in-out;
    }

    .contrast:hover {
        filter: saturate(100%) contrast(100%);
        transition: filter 0.2s ease-in-out;
        -moz-transition: filter 0.2s ease-in-out;
        -webkit-transition: filter 0.2s ease-in-out;
    }

    .club {
        color: rgba(255, 255, 255, 0.5);
    }
}

/* Dark Mode */

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode hr {
    border-top: 1px solid #444;
}

body.dark-mode u {
    text-decoration-color: #666;
}

body.dark-mode .container {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
}

body.dark-mode .shadow {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

body.dark-mode .projects img:hover {
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

body.dark-mode .section-header,
body.dark-mode .ualberta,
body.dark-mode .project-header,
body.dark-mode .header-text {
    color: #ccc;
}

body.dark-mode .section-subheader,
body.dark-mode .degree,
body.dark-mode .header-subtext,
body.dark-mode .header-bottomtext,
body.dark-mode .project-subheader {
    color: #aaa;
}

body.dark-mode .year,
body.dark-mode .project-year {
    color: #999;
}

body.dark-mode .tooltip .tooltiptext {
    background-color: rgba(33, 33, 33, 0.9);
    color: #ccc;
    border-color: #666;
}

body.dark-mode .projects img,
body.dark-mode .responsive-iframe {
    border-color: #444;
}

body.dark-mode .tip {
    color: rgba(255, 255, 255, 0.5);
}

body.dark-mode .club {
    color: rgba(255, 255, 255, 0.5);
}

/* Light Mode */

body:not(.dark-mode) {
    background-color: #ffffff;
    color: #000000;
}

body:not(.dark-mode) hr {
    border: 0;
    border-top: 1px solid #ccc;
}

body:not(.dark-mode) u {
    text-decoration-color: #ccc;
}

body:not(.dark-mode) .container {
    text-shadow: 2px 12px 6px rgba(0, 0, 0, 0.3);
}

body:not(.dark-mode) .gradient {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body:not(.dark-mode) .shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

body:not(.dark-mode) .tooltip .tooltiptext {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.4);
    border-color: #ccc;
}

body:not(.dark-mode) .section-header {
    color: rgba(0, 0, 0, 0.5);
}

body:not(.dark-mode) .section-subheader {
    color: rgba(0, 0, 0, 0.4);
}

body:not(.dark-mode) .logo,
body:not(.dark-mode) .logo2 {
  filter: saturate(0%);
}

body:not(.dark-mode) .logo:hover {
  filter: saturate(100%);
}

@media (prefers-reduced-motion: reduce) {
    .fade-in1,
    .fade-in2,
    .fade-in3,
    .fade-in4,
    .fade-in5,
    .fade-in6 {
      animation: none !important;
    }
}

/* Tablet */

@media (max-width: 1024px) {

    .container {
        max-width: 100%;
        padding: 0 24px;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    .desktop {
        display: none;
    }
}

/* Mobile */

@media (max-width: 640px) {
    ul {
        margin-right: auto;
    }

    .mobile { 
        display: block;
    }

    .tablet {
        display: none;
    }

    .desktop { 
        display: none;
    }

    .tooltip .tooltiptext {
        display: none;
    }

    .tooltip:hover .tooltiptext {
        display: none;
    }

    .header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tip {
        margin-top: 69px;
    }

    .projects {
        flex-direction: column;
        width: 100%;
        gap: 24px;
    }

    .project {
        width: 100% !important;
    }

    .skills {
        flex-direction: column;
    }
}

.active {
    opacity: 100%;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    margin-top: 128px;
    margin-bottom: 48px;
}

.left {
    display: flex;
}

.logo {
    opacity: 0.75;
}

.header-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.header-subtext {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
}

.header-bottomtext {
    margin-top: auto;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(0, 0, 0, 0.4);
}

ul {
    margin-left: auto;
}

.tip {
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    position: absolute;
    top: 256px;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: none;
}

#reveal {
    cursor: pointer;
}

#reveal:hover, 
#gradient:hover,
.tip u:hover {
    color: rgba(0, 0, 0, 0.2);
    text-decoration-color: rgba(0, 0, 0, 0.2);
}

body.dark-mode #reveal:hover,
body.dark-mode #gradient:hover,
body.dark-mode .tip u:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration-color: rgba(255, 255, 255, 0.9);
}

/* Education */

.education {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.ualberta {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.degree {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 2px;
}

.year {
    margin-top: 2px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
}

/* Club */

.club {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 18px;
    margin-top: 6px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.club img {
    margin-top: 4px;
}

/* Projects */

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.bottom {
    margin-bottom: 64px;
}

.projects img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    border-radius: 3%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.projects img:hover {
    transform: scale(1.02);
}

.projects img:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.right {
    margin-left: auto;
}

.project {
    width: 48%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.project-top {
    display: flex;
    justify-content: flex-end;
}

.project-header {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 4px;
}

.project-year {
    margin-top: 4px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.project-subheader {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.4);
}

/* Skills */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.frameworks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* Stuff */

.stuff {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 3%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 42px;
    margin-bottom: 128px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-text,
.copyright,
.update {
    flex: 1;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.footer-text {
    text-align: left;
}

.copyright {
    text-align: center;
}

.update {
    text-align: right;
}

.update-date {
    margin-left: 6px;
}