body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: black;
    font-size: 16px;
    opacity: 50%;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 1em 0;
    margin-left: 488px;
    margin-right: 488px;
    padding: 0;
}

.active {
    opacity: 100%;
}

.logo {
    filter: saturate(0%);
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.logo:hover {
    filter:saturate(100%);
    transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -webkit-transition: filter 0.2s ease-in-out;
}

.section-header {
    margin-left: 488px;
    margin-right: 488px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    margin-top: 128px;
    margin-bottom: 48px;
    margin-left: 488px;
    margin-right: 488px;
}

.header-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 12px;
    opacity: 75%;
}

.header-subtext {
    font-size: 16px;
    opacity: 75%;
    font-weight: 500;
}

.header-bottomtext {
    margin-top: auto;
    font-size: 16px;
    opacity: 75%;
    font-weight: 500;
}

ul {
    margin-left: auto;
}

/* Projects */

.projects {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    margin-left: 488px;
    margin-right: 488px;
}

.projects img {
    border-radius: 3%;
}

.right {
    margin-left: auto;
}

/* Skills */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 75%;
    gap: 4px;
}

/* Stuff */

.stuff {
    display: flex;
    justify-content: center;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 42px;
    margin-bottom: 128px;
}