body {
    font-family: FinancierBlack;
    margin: 0;
    padding: 0;
    background: #0d1013;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

li {
    display: inline;
    margin: 4px;
}

/* Header section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 32px;
    background: #0d1013;
    color: #f0e4d4;
}
  
.header-logo {
    font-family: 'Lucida Unicode Calligraphy', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #f0e4d4;
    margin-bottom: 12px;
}

.nav-link {
    font-family: FinancierRegular;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 48px;
    background: #0d1013;
}

.hero-header {
    font-size: 36px;
    font-family: FinancierBlack;
    color: #add8e6;
    margin-bottom: 24px;
}

.hero-text {
    font-size: 24px;
    font-family: FinancierRegular;
    color: #f0e4d4;
    margin-bottom: 4px;
}

/* Links section */

.links {
    font-family: FinancierRegular;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-right: 44px;
    background: #0d1013;
    color: #ff6414
}

/* Footer section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0e4d4;
    background: #0d1013;
}