html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

:root {
    color-scheme: light;
}

:root.dark-mode {
    color-scheme: dark;
}

::-moz-selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

::selection {
    background: lightgrey;
    color: rgba(0, 0, 0, 1);
}

/* Compatibility */

/* Auto Dark Mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }
}

/* Dark Mode */

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* Light Mode */

body:not(.dark-mode) {
    background-color: #ffffff;
    color: #000000;
}